# Managed by Ansible (CIS-ish SSH hardening lol!)
Port {{ cis_ssh_port | default(22) }}
Protocol 2
PermitRootLogin no
MaxAuthTries 4
X11Forwarding no
LogLevel VERBOSE
ClientAliveInterval 300
ClientAliveCountMax 3
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM no
